{% extends "mainapp/base.html" %}

{% block content %}
 {% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/email.css' %}">




<div class="jumbotron">

  <h1 class="display-4">Mailer!</h1>

  <p class="lead">Mail to someone</p>

  <hr class="my-4">

    <div class="custom-file">

    <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}   
            {{ form|crispy }}   
            <input type="submit" class="btn btn-primary btn-lg" value="Submit">
    </form>
    </div>  


</div>
<script src="{% static "mainapp/email.js" %}"></script>

{% endblock %}
