{% extends "mainapp/base.html" %} 
{% block content %}

 {% load crispy_forms_tags %}

<style>

.mainbox{
    padding:2%;
    display:flex;
    justify-content:space-evenly;

}

a:hover{
text-decoration:none;
font-weight:400;
}

.formclass{
 display:none;

}


</style>




<div class="mainbox" >
    
    <ul class="list-group nsdlbenpos">
      <li class="list-group-item"><button class="btn btn-primary">NSDL Benpos Import</button></li>

      
    </ul>
    <ul class="list-group cdslbenpos">
      <li class="list-group-item"><button class="btn btn-primary">CDSL Benpos Import</button></li>
      
    </ul>
</div>

<div class="formclass">
  

    <form action="" method="POST" enctype="multipart/form-data">   
                {% csrf_token %}   
                {{ form|crispy }}
                   
    <input type="submit" class="btn btn-primary btn-lg"  value="Submit">
    </form>
        
    
</div>





<script>
    Object.values(document.getElementsByClassName("nav-link")).filter((ele)=>{
    return ele.textContent == "Master";
    })[0].classList.add("active");

document.querySelector('.cdslbenpos>li').addEventListener('click', function(event){
       var ele  = document.querySelector('.mainbox').querySelector(".nsdlbenpos");
     ele.parentNode.removeChild(ele);
    document.querySelector('.formclass').style.cssText='display:flex;justify-content:center';
     document.getElementsByTagName("form")[0].insertAdjacentHTML('afterbegin','<input type="hidden" name="hidden" value="cdslbenpos">');


})   

document.querySelector('.nsdlbenpos>li').addEventListener('click', function(event){
    var ele  = document.querySelector('.mainbox').querySelector(".cdslbenpos");
     ele.parentNode.removeChild(ele);
    document.querySelector('.formclass').style.cssText='display:flex;justify-content:center';
    document.getElementsByTagName("form")[0].insertAdjacentHTML('afterbegin','<input type="hidden" name="hidden" value="nsdlbenpos">');
})

</script>
{% endblock %}